.o_green_alternates, .o_green_alternates:hover{
    background-color: green;
    border-color: green;
}
.o_black_alternates, .o_black_alternates:hover{
    background-color: black;
    border-color: black;
}
